*           text=auto eof=lf

*.cs        text eol=lf diff=csharp
*.cshtml    text diff=html
*.csx       text diff=csharp
*.sln       text eol=crlf merge=union
*.csproj    text merge=union

image/**    binary
